@page "/EditPerson/{person_id}"
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using RESTFull.Domain

<PageTitle>Редактирование данных</PageTitle>

<h1>Редактирование данных @Person_id</h1>

<EditPersonComponent OnEditPerson="ToMessage" Person_id = "@Person_id"/>

@code {
    string Message { get; set; } = "";
    void ToMessage(string message1)
    {
        Message = message1;
        Console.WriteLine(Message);
    }

    [Parameter]
    public string Person_id { get; set; }
}
